{% extends "Base.html" %}

<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
{% block section %}
<h1>{{ volcanes.NOMBREVOLC }}</h1>
<p>Altura sobre el Nivel del Mar: <i>{{ volcanes.ALTURASOBR }}</i></p>
<p>Latitud: <i>{{ volcanes.LATITUD }}</i></p>
<p>Longitud: <i>{{ volcanes.LONGITUD }}</i></p>
<p>Url: <i>{{ volcanes.URL }}</i></p>
<p>Actividad: <i>{{ volcanes.ACTIVIDAD }}</i></p>
<p>Imagen: <i>{{ volcanes.IMAGEN }}</i></p>
<p>Detalle: <i>{{ volcanes.DETALLE }}</i></p>
<p>Imagenes Galeria: <i>{{ volcanes.IMAGENESGALERIA }}</i></p>
<p>Longitud Decimales: <i>{{ volcanes.LONGITUD_DECIMALES}}</i></p>
<p>Latitud Decimales <i>{{ volcanes.LATITUD_DECIMALES}}</i></p>
<p>
    <a href="{% url "volcanes:list" %}">Regresar</a>
</p>
{% endblock %}